.container-slider {
    overflow-x: hidden;
    overflow-y: hidden;
}
.slider {
    display: flex;
    cursor: grab;
}
.item {
    padding: 5px;
    position: relative;
    /* border: 1px solid greenyellow; */
}
.slider-avatar {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 15px;
    left: 15px;
}
.slider-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 4px solid #297ae3;
}
.item > img {
    border-radius: 10px;
    width: 120px;
    height: 200px;
    pointer-events: none;
}
.slider-text {
    position: absolute;
    bottom: -12px;

    width: 100%;

    color: white;
}
.slider-text h4 {
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
}
