.container-publication {
    margin: 20px 0;
    border-radius: 10px;
    background: #242526;
    padding: 10px;
}

.avatar-name {
    display: flex;

    justify-content: start;
}

.avatar-name div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
.avatar-name div:last-child h4 {
    margin: 0;
    padding: 0;
    color: white;

    font-size: 17px;
    font-weight: 700;
}
.avatar-name div:last-child p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 700;
    color: rgb(128, 128, 128);
}
